.stock {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 15px;
}

.stock button{
    background-color: white;
    color: black;
    font-weight: bold;
    font-size: 18px;
    border: 1px black solid;
    border-radius: 4px;
    width: 15%;
    cursor: pointer;
}

.stock button:hover {
    background-color: black;
    color: white;
    font-weight: bold;
    border: 1px black solid;
}

.stock button:disabled {
    background-color: #ededed;
    color: gray;
    border: 1px gray solid;
}

.stock div {
    width: 33%;
}

.add-to-cart {
    background-color: white;
    color: black;
    font-weight: bold;
    border: 2px black solid;
    border-radius: 4px;
    height: 30px;
    width: 70%;
    margin-top: 5px;
    cursor: pointer;
    height: 50px;
}

.add-to-cart:hover {
    background-color: black;
    color: white;
    font-weight: bold;
    border: 1px black solid;
}

.add-to-cart:disabled {
    background-color: #ededed;
    color: gray;
    border: 1px gray solid;
}

.stock-detail {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    margin-top: 25px;
    margin-bottom: 25px;
}

.stock-detail button{
    background-color: white;
    color: black;
    font-weight: bold;
    font-size: 18px;
    border: 1px black solid;
    border-radius: 4px;
    width: 15%;
    cursor: pointer;
}

.stock-detail button:hover {
    background-color: black;
    color: white;
    font-weight: bold;
    border: 1px black solid;
}

.stock-detail button:disabled {
    background-color: #ededed;
    color: gray;
    border: 1px gray solid;
}

.stock-cart {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin-top: 25px;
    margin-bottom: 25px;
}

.stock-cart button{
    background-color: white;
    color: black;
    font-weight: bold;
    font-size: 18px;
    border: 1px black solid;
    border-radius: 4px;
    width: 20%;
    cursor: pointer;
}

.stock-cart button:hover {
    background-color: black;
    color: white;
    font-weight: bold;
    border: 1px black solid;
}

.stock-cart button:disabled {
    background-color: #ededed;
    color: gray;
    border: 1px gray solid;
}

.stock-counter-cart .complete-counter .add-to-cart{
    display: none;
}