div.home{
    padding: 10px;
    background-color: #ededed;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.carousel {
    width: 100%;
    border: 2px solid purple;
    margin-bottom: 30px;
}

.latest {
    width: 100%;
    border: 2px solid green;
    margin-bottom: 30px;
}

.placeholder {
    width: 100%;
    border: 2px solid red;
}