.sidebar {
    height: 100vh;
    position: fixed;
    z-index: 1;
    width: 18%;
    background-color: black;
    color: white;
}

.sidebar li {
    List-style-type: none;
    display: flex;
    align-items: center;
    padding-left: 25px;
    height: 50px;
    margin-bottom: 5px;
}

.sidebar li:hover {
    background-color: #333;
}

img {
    width: 75%;
}

/* MOBILE */

@media (max-width: 1023px){
    .sidebar {
        width: 60%;
    }

    img {
        width: 15%;
    }
}

@media (min-width: 768px) and (max-width: 1023px){
    .sidebar {
        width: 35%;
    }
}

/* MOBILE */