*::-webkit-scrollbar {
    display: none;
}

.nav-no-menu .sidebar{
    margin-left: -100%;
    transition: 850ms;
}

.no-brands-ul {
    margin-left: -100%;
    position: fixed;
}

.brands-ul {
    margin-left: 0%;
    transition: 350ms;
}

.no-categories-ul {
    margin-left: -100%;
    position: fixed;
}

.categories-ul {
    margin-left: 0%;
    transition: 350ms;
}

.sidebar {
    margin-left: 0%;
    transition: 350ms;
    height: 88vh;
    position: fixed;
    overflow-y: scroll;
    z-index: 1;
    width: 18%;
    background-color: black;
    color: white;
}

.sidebar li {
    List-style-type: none;
    display: flex;
    align-items: center;
    padding-left: 25px;
    height: 50px;
    margin-bottom: 5px;
}

.sidebar li:hover {
    background-color: #333;
}

/* MOBILE */

@media (max-width: 1023px){
    .sidebar {
        width: 55%;
    }
}

@media (min-width: 768px) and (max-width: 1023px){
    .sidebar {
        width: 35%;
    }
}

/* MOBILE */